header
{
    font-size: 1.1em;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

nav
{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

nav ul {
    padding-left: 0;
}

nav li {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}

nav a {
    display: block;
    text-align: center;
    width: 100%;
    color: black;
}

.inscription 
{
    position: absolute;
    top: 40px;
    right: 50px;
}

.logo
{
    margin-left: 25px;
}

li a:hover /*Effets au survol : ligne bleue en-dessous et texte en bleu*/
{
    color: #0065fc; 
    border-bottom: 2px solid #0065fc;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}
