/* Mobile : Ajustements du HEADER */
header /* Taille de police plus importante sur mobile*/
{
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1em;
}

.logo
{
    margin-left: 20px;
}

.inscription 
{
    position: absolute;
    top: 40px;
    right: 50px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

nav /*Menu prend toute la largeur*/
{
    width: 100%;
}

nav ul /*Correction décalage*/
{
    padding-left: 0;
}

nav li /*Menu souligné en gris*/
{
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}

nav a /*Liens centrés, occupent toute la largeur*/
{
    display: block;
    text-align: center;
    width: 100%;
}

header li a:hover /*Effets au survol : ligne bleue en-dessous et texte en bleu (et annuler ligne au dessus) */
{
    color: #0065fc; 
    border-bottom: 2px solid #0065fc;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}

/* Mobile : Ajustements de la SECTION 1 */

.page /* Marges plus importantes sur les côtés */
{
    font-size: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

h1 /* Agrandir font-size*/
{
    font-size: 1.5em;
    line-height: 1.2em;
    word-spacing: 0.2em;
}

.recherche 
{
    border-radius: 15px;
}
.recherche .icone
{
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.recherche i
{
    font-size: 1.2em;
}

.recherche input
{
    padding-left: 20px;
}

.recherche button
{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-size: 15px;
    background-position: center;
}

.button-submit-text /* Texte "rechercher" du bouton remplacé par une icone "loupe" */
{
    display: none;
}

.button-submit-icon /* Faire apparaitre l'icone "loupe" cachée dans la version Desktop */
{
    display: flex;
}

.filtres
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filtres ul
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}

.filtres li
{
    margin-left: 0;
    margin-bottom: 10px;
    padding-left: 0;
    height: 50px;
    border-radius: 40px;
    padding-right: 20px;
}

.filtres .icone
{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.filtres i
{
    font-size: 1.2em;
}

.filtres input
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Mobile : Ajustements de la SECTION 2 */

.results /* Aside Les plus Populaires passe au-dessus de l'aside Hébergements à Marseille */
{
    display: flex;
    flex-direction: column-reverse;
}

.hebergements-results
{
    display: flex;
    flex-direction: column;
}

.hebergements-results .hotel-name
{
    font-size: 0.9em;
}

.hebergements-results .hotel-card img
{
    height: 100px; 
}

.populaires-results .hotel-name
{
    font-size: 0.9em;
}

.tarif
{
    font-size: 0.8em;
    line-height: 0.5;
}

/* Customisation des étoiles */
.rating i
{
    font-size: 0.6em;
}

/* Mobile : Ajustements de la SECTION 3 */

.activites
{
    padding-left: 20px;
    padding-right: 20px;
}

.activites-results
{
    display: flex;
    flex-direction: column;
}

#activity-card-one img
{
    height: 125px;
}

#activity-card-two img
{
    height: 125px;
}

#activity-card-three img
{
    height: 125px;
}

#activity-card-four img
{
    height: 125px;
}

#activity-card-five img
{
    height: 125px;
}

#activity-card-six img
{
    height: 125px;
}

.activity-card p
{
    font-size: 0.9em;
    height: 25px;
    padding-top: 10px;
}


/* Mobile : Ajustements du FOOTER */

footer /*Pied de page comprenant trois blocs alignés, fond gris sur toute la largeur*/
{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.1em;
    padding-top: 1em;
    margin-right: 0;
    margin-left: 0;
}

footer div /*Trois blocs les uns sous les autres, occupent toute la largeur*/
{
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
}

footer h5
{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.5em;
}
