@font-face
{
    font-family: "Raleway", sans-serif;
    src: url("raleway-v19-latin-regular.eot") format("eot");
    src: url("raleway-v19-latin-regular.ttf") format("ttf");
    src: url("raleway-v19-latin-regular.woff") format("woff");
    src: url("raleway-v19-latin-regular.woff2") format("woff2");
    src: url("raleway-v19-latin-regular.svg") format("svg");
}

/* HEADER */

header /*Logo, menu "Hébergements et Activités" et lien "S'inscrire" alignés en haut*/
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 2000px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 0.9em
}

.logo /*Décalage logo*/
{
    padding-top: 10px;
}

.menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inscription /*En bleu et gras*/
{
    font-weight: bold;
    text-align: center;
    width: 90px;
}

nav
{
    text-align: right;
    align-self: flex-end;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

nav li
{
    display: inline-flex;
    align-items: center;
    height: 50px;
}

li a /*Annuler effets liens soulignés et colorés*/
{
    text-decoration: none;
    color: black;
    width: 100px;
}

.inscription a /*Lien "S'inscrire"* non souligné et toujours bleu*/
{
    text-decoration: none;
    color: #0065fc;
} 

nav a:hover /*Effets au survol : ligne bleue au-dessus et texte en bleu*/
{
    color: #0065fc; 
    border-top: 1.5px solid #0065fc;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* BLOC PAGE */

.page /* Page : marge de 2 de chaque côté (comme le header) */
{
    max-width: 2000px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 0.9em;
}

/* SECTION 1 */

h1
{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.2em;
}

.recherche 
{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

form
{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.recherche .icone
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 30px;
    width: 30px;
}

.recherche i
{
    margin:auto;
}

.recherche input
{
    font-weight: bold;
    font-size: 0.9em;
    height: 30px;
    padding-left: 10px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2
}


button
{
    color: white;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    border:none;
    height: 30px;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
}

.filtres 
{
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.filtres ul /*Filtres aspect "chips" alignés*/
{
    display: inline-flex;
}

.filtres li 
{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    box-shadow: inset 0 0 0 2px #F2F2F2;
    border-radius: 20px;
    height: 30px;
}

.filtres input
{
    font-style: none;
    border: none;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.filtres .icone
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.filtres i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

.filtres li:hover /*Effet au survol : background uni (bleu clair) et ombre (gris) en-dessous*/
{
    box-shadow: 5px 5px 4px #F2F2F2;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
}

/*Info : icone + texte alignés */
.info
{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    width: 100%
}

.info .icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    height: 20px;
    width: 20px; 
}

.info i 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065fc;
}

.info p
{
    margin-left: 10px;
    font-size: 0.9em;
}

/* SECTION 2 : Hébergements */


/* SECTION 3 : Activités */


/* FOOTER */

footer /*Pied de page comprenant trois blocs alignés, fond gris sur toute la largeur*/
{
    background-color: #f2f2f2;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 2000px;
    padding-bottom: 20px;
    font-size: 1em;
}

footer div
{
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
}

footer h5
{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

footer li
{
    list-style: none;
    font-size: 0.9em;
    margin-bottom: 0.7em;
}

footer ul
{
    padding-left: 0;
    padding-top: 0;
} 

footer a /*Annule la décoration des liens*/
{
    text-decoration: none;
    color: black;
}