header /* Taille de police plus importante sur mobile*/
{
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1em;
}

.logo
{
    margin-left: 20px;
}

.inscription 
{
    position: absolute;
    top: 40px;
    right: 50px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

nav /* Menu prend toute la largeur */
{
    width: 100%;
}

nav ul /* Correction décalage */
{
    padding-left: 0;
}

nav li /* Menu souligné en gris */
{
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}

nav a /*Liens centrés, occupent toute la largeur*/
{
    display: block;
    text-align: center;
    width: 100%;
}

header li a:hover /*Effets au survol : ligne bleue en-dessous et texte en bleu (et annuler ligne au dessus) */
{
    color: #0065fc; 
    border-bottom: 2px solid #0065fc;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}

footer /*Pied de page comprenant trois blocs alignés, fond gris sur toute la largeur*/
{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.1em;
    padding-top: 1em;
}

footer div /*Trois blocs les uns sous les autres, occupent toute la largeur*/
{
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;
}

footer h5
{
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.5em;
}
