header /* Taille de police plus importante sur mobile*/
{
    font-size: 1.1em;
}

.logo
{
    margin-left: 20px;
}

.inscription 
{
    position: absolute;
    top: 40px;
    right: 50px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

nav /* Menu centré */
{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

nav ul /* Correction décalage */
{
    padding-left: 0;
}

nav li /* Menu souligné en gris */
{
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}

nav a /*Liens centrés, occupent toute la largeur*/
{
    display: block;
    text-align: center;
    width: 100%;
}

li a:hover /*Effets au survol : ligne bleue en-dessous et texte en bleu (et annuler ligne au dessus) */
{
    color: #0065fc; 
    border-bottom: 2px solid #0065fc;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}
