/* Tablette : Ajustements du HEADER */

header /* Marges et taille de la police plus importantes */
{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

/* Tablette : Ajustements de la SECTION 1 */

.page /* Marges plus importantes sur les côtés */
{
    font-size: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

h1 /* Agrandir font-size*/
{
    font-size: 1.5em;
    line-height: 1.2em;
}

.recherche 
{
    border-radius: 15px;
}

.recherche .icone
{
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.recherche i
{
    font-size: 1.2em;
}

.recherche input
{
    padding-left: 20px;
}

.recherche button
{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-size: 15px;
    background-position: center;
}

.button-submit-text /* Texte "rechercher" du bouton remplacé par une icone "loupe" */
{
    display: none;
}

.button-submit-icon /* Faire apparaitre l'icone "loupe" cachée dans la version Desktop */
{
    display: flex;
}

.filtres
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filtres ul
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}

.filtres li
{
    margin-left: 0;
    margin-bottom: 10px;
    padding-left: 0;
    height: 50px;
    border-radius: 40px;
    padding-right: 20px;
}

.filtres .icone
{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.filtres i
{
    font-size: 1.2em;
}

.filtres input
{
    padding-left: 20px;
    padding-right: 20px;
}



/* Tablette : Ajustements de la SECTION 2 */

.results /* Aside Les plus Populaires passe au-dessus de l'aside Hébergements à Marseille */
{
    display: flex;
    flex-direction: column-reverse;
}

.hebergements-results
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
}

#hebergements-hotel-card-one
{
    grid-column: 1;
    grid-row: 1;
}

#hebergements-hotel-card-two
{
    grid-column: 2;
    grid-row: 1;
}

#hebergements-hotel-card-three
{
    grid-column: 1;
    grid-row: 2;
}

#hebergements-hotel-card-four
{
    grid-column: 2;
    grid-row: 2;
}

#hebergements-hotel-card-five
{
    grid-column: 1;
    grid-row: 3;
}

#hebergements-hotel-card-six
{
    grid-column: 2;
    grid-row: 3;
}

.populaires-results
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.hebergements-results .hotel-name
{
    font-size: 0.9em;
}

.populaires-results .hotel-name
{
    font-size: 0.9em;
}

.tarif
{
    font-size: 0.8em;
    line-height: 0.5;
}

/* Customisation des étoiles */
.rating i
{
    font-size: 0.6em;
}

/* Tablette : Ajustements de la SECTION 3 */



/* Tablette : Ajustements du FOOTER */

footer /*2 blocs alignés et retour à la ligne pour le 3ème*/
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    padding-left: 40px;
    padding-right: 40px;
}

footer .about
{
    grid-column: 1;
    grid-row: 1;
}

footer .hebergements
{
    grid-column: 2;
    grid-row: 1;
}

footer .help
{
    grid-column: 1;
    grid-row: 2;
}

footer div
{
    padding: 0;
}